/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Enable these styles if you wish to go into a grid layout.
ul#images li {
    width: 120px;
    height: auto;
    display: inline-block;
    position: relative;
    float: left;
}

ul#images li img {
    display: inline-block;
    width: 100%;
    height: auto;
}

ul#images li button {
    display: inline-block;
}

--- End of grid layout styles. */
/* textured grey background */
body {
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/61/ca/f8/61caf83b711dc1fc6335a41e01b85429.png');
  background-attachment: fixed, scroll;
  background-repeat: no-repeat;
}
ul#images {
    list-style-type: none;
}

ul#images .placeholder {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
}
.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
/* font color changed in new image list after search */
}
/* min height created so photo grid doesnt get messed up. most photos have different heights */
#image-list{
  min-height: 600px;
  color: white;
/* link color changed after search */
}
#image-list a{
  color: black;
}
#image-list a:hover{
  color: white;
  text-decoration: underline;
}
/* made room inbetween text and modal button */
#modalButton{
  margin-left: 10px;
}















